.app {
  color: #1b1b1b;
  font-family: "Lato";
  font-style: normal;
  box-sizing: border-box;
  header {
    text-align: center;
    h1 {
      font-weight: 300;
      font-size: 70px;
      line-height: 80px;
    }
  }
}
